<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>NFL Predictor - Welcome</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/foundation.css">
	<script src="js/nfl-global.js"></script>
	<script src="js/nfl-init.js"></script>
	<script type="text/javascript">
		season = <%= season %>;
		currentWeek = <%= week %>;
	</script>
</head>

<body class="nfl">
	<div class="small-12">
		<div>
			<div class="text-center page-title">
				<h1>NFL Predictor</h1>
				<img class="icon-small-title" type="image/svg+xml" src="../images/Nfl_flat.svg" />
				<span class="heading-text"><%=season%> Season</span>
				<img class="icon-small-title" type="image/svg+xml" src="../images/Nfl_flat.svg" />
                <% if(newGame) { %>
				<div class="row season-week-container">
					<div class="small-centered small-6">
						<select id="season">
							<option selected disabled>Select season....</option>
							<option><%=season%></option>
							<option><%=season-1%></option>
							<option><%=season-2%></option>
							<option><%=season-3%></option>
							<option><%=season-4%></option>
							<option><%=season-5%></option>
							<option><%=season-6%></option>
							<option><%=season-7%></option>
						</select>
					</div>
					<div class="small-centered small-6">
						<select id="week">
							<option selected disabled>Select game week....</option>
							<option>Current week</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
						</select>
					</div>
				</div>
                <% } %>
			</div>
			
			<div class="fixture-row-container hide">
				<p class="season-week-banner"><span class="season-number">Season <%=season%></span> - <span class="week-number">Week <%=week%></span></p>
				<p class="game-name-heading">Playing Game - <span id="game-name-id"><%=game%></span></p>
				<p class="sub-heading-description"><span id="player-name-id"><%=player%></span> make your predictions</p>
				<p class="fixture-count small-centered">Games remaining  - <span class="js-fixtures-remaining">0</span></p>
				<div class="fixture-content-block left">
					<img class="team-badge away" type="image/svg+xml" src="public/images/teams/<%=awayTeam%>_logo.svg" />
					<button id="resultBtnRoad" class="result-button std-button away">Road Win</button>
				</div>
				<div class="fixture-content-block middle">
					<span class="fixture-row-text">@</span>
					<button id="resultBtnTie" class="result-button std-button">Tie</button>
				</div>
				<div class="fixture-content-block right">
					<img class="team-badge home" type="image/svg+xml" src="public/images/teams/<%=homeTeam%>_logo.svg" />
					<button id="resultBtnHome" class="result-button std-button home">Home Win</button>
				</div>
			</div>
		</div>

	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="bower_components/jquery.redirect/jquery.redirect.js"></script>
	<script src="js/foundation.js"></script>
	<script src="js/nfl-predictor.js"></script>
</body>
