<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>NFL Predictor</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/foundation.css">
        <script src="bower_components/jquery.redirect/jquery.redirect.js"></script>
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/foundation.js"></script>
        <script src="js/nfl-global.js"></script>
        <script src="js/nfl-summary.js"></script>

    </head>

<body class="nfl">
	<div class="small-12">
		<div>
			<div class="text-center page-title">
                <h2>Player Name : <span id="summaryPlayer"><%=player%></span></h2>
				<img class="icon-small-title" type="image/svg+xml" src="../images/Nfl_flat.svg" />
				<span class="heading-text">Predictions for Season <span id="season-title"></span> - Week <span id="week-title"></span></span>
				<img class="icon-small-title" type="image/svg+xml" src="../images/Nfl_flat.svg" />
			</div>
			<form id="summaryForm" action="/">
				<input id="saveAndExitBtn" class="small-centered small-2 std-button" type="submit" value="Save and Exit" />
                <input id="predictionString" type="hidden" value="<%= prediction %>" />
                <input id="predictionGame" type="hidden" value="<%= game %>" />
			</form>

                <div class="row main-content-predictions">

                    <table class="prediction-table small-centered">
                        <tr class="prediction-table-header">
                            <th>Road Team</th>
                            <th></th>
                            <th>Home Team</th>
                        </tr>
                        <% for(var i = 0; i < prediction.length; i++){ %>
                        <tr>
                            <td id="R-<%= i %>" class="road-col small-3  <%= prediction[i] %>Pick">
                                <img class="team-badge-small away<%= i %>" type="image/svg+xml"
                                     src="/images/teams/WAS_logo.svg"/>
                            </td>
                            <td id="T-<%= i %>"
                                class="prediction-table-at small-1 <%= prediction[i] %>Pick">@
                            </td>
                            <td id="H-<%= i %>" class="home-col small-3 <%= prediction[i] %>Pick">
                                <img class="team-badge-small home<%= i %>" type="image/svg+xml"
                                     src="/images/teams/WAS_logo.svg"/>
                            </td>
                        </tr>

                        <% } %>
                    </table>

                </div>
            </div>

        </div>
    </body>
</html>
